version: '3.8'

services:
  api:
    build: .
    container_name: reperi_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - mongo
    env_file:
      - .env
    volumes:
      - .:/app

  worker:
    build: .
    container_name: reperi_worker
    command: celery -A app.services.celery_app worker --loglevel=info -Q main-queue
    depends_on:
      - redis
      - mongo
    env_file:
      - .env
    volumes:
      - .:/app

  redis:
    image: redis:alpine
    container_name: reperi_redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:latest
    container_name: reperi_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
